
npm-debug.log
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
.env
*/bin
*/obj
README.md
LICENSE
.vscode
server/.nyc_output
server/coverage
server/test
server/error.log
server/yarn.lock
server/sonar-project.properties
